@{
    ViewData["Title"] = "Home Page";
}
@{ 
    Layout = "_LayoutHomePage";
}


<div class="text-center">
    @*<img src="~/6.jpg" width="" height="auto"/>*@
    @*<h1 class="display-4">Auspicious Event</h1>

     <a asp-action="Add" asp-controller="Attendee"> Sign Up </a>*@  
</div>
